body {
    background-color: whitesmoke;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
    margin-left: 15px;
   
   
}

.img {
    width: 350px;
    height: 250px;
}

a {
    color: #feb386;
    font-size: 20px;
    left: 800px;
    margin-top: 30px;
    text-decoration: none;
    
}

h1 {
        color: #feb386;
        text-align: center;
        
}

p {
    color: #9d999d;
}

.contacts {
    color: #feb386;
    font-size: 15px;
    left: 800px;
    margin-top: 30px;
    text-decoration: none;
    margin-top: 115px;
    margin-left: 55px;
}

footer {
    background-color: white;

}

.like_button {
    color: #feb386;
    text-align: center;
    size: 50px;
    margin-top: 50px;
}