body {
    background-color: whitesmoke;
}

header {
    background-color: white;
}


.menu-main {
    list-style: none;
    margin: 30px 0 5px;
    padding: 15px 0 5px;
    text-align: center;
    background: white;
    margin-left: 300px;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
    margin: 0 34px 0 30px;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a,
.menu-main a:visited {
    color: #9d999d;
}

.menu-main a.current,
.menu-main a:hover {
    color: #feb386;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}

.img {
    width: 600px;
    height: 500px;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 20%;
}

h1 {
    color: #feb386;
    margin-top: 150px;
}

p {
    color: #9d999d;
}

.about-me {

    margin-left: 100px;

}

.flex-container {
    flex-direction: row-reverse;
    display: flex
}

.contacts {
    color: #feb386;
    font-size: 15px;
    left: 800px;
    margin-top: 30px;
    text-decoration: none;
    margin-top: 115px;
    margin-left: 55px;
}



a {
    color: #feb386;
}


