*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
  }
  
  body{
    min-height: 100vh;
    background-color: whitesmoke;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-page{
    width: 100%;
    max-width: 1400px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  h1{
    width: 100%;
    margin-bottom: 80px;
    text-transform: uppercase;
    color: #feb386;

  }
  
  .contact-info, .contact-form{
    flex: 1;
  }
  
  .item{
    margin-bottom: 24px;
    font-size: 16px;
    color: #9d999d;
  }
  
  .icon{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #feb386;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .textb{
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    background-color:  white;
    border: none;
    color: #fff;
    margin-bottom: 20px;
  }
  
  textarea{
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    background-color: white;
    border: none;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .btn{
    width: 120px;
    height: 40px;
    margin-left: auto;
    background-color: #feb386;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid   #feb386;
    transition: .3s linear;
  }
  
  .btn:hover{
    background-color: transparent;
    color: #9d999d;
  }
  
  @media screen and (max-width: 980px){
    .contact-page{
      max-width: 800px;
    }
    h2{
      font-size: 40px;
      margin-bottom: 40px;
    }
  
    .contact-info, .contact-form{
      flex: 100%;
      margin-bottom: 30px;
    }
    .textb{
      width: 100%;
    }
  }