body {
	background-color: whitesmoke;
}

h1 {
	color: #feb386;
	text-align: center;
	text-align: center;

}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.about-container {
	display: flex;
}


.image {
	width: 300px;
	height: 200px;
}

.container {
	display: grid;
	width: 700px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 50px;
	margin-left: 170px;
}

.scale {
	transition: 1s;
}

.scale:hover {
	transform: scale(1.2);
}

.like_button {
    color: #feb386;
    text-align: center;
    margin-top: 50px;
}

